[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/node_exporter \
    --log.level=error \
    --no-collector.btrfs \
    --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/k3s/containerd/.+|run/docker/.+|var/lib/docker/.+|var/lib/kubelet/pods/.+)($|/) \
    --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fuse.lxcfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tmpfs|tracefs|vfat)$ \
    --collector.netclass.ignored-devices=^(br.*|cali.*|cni.*|docker.*|flannel.*|lo|nodelocaldns|tap.*|tunl.*|veth.*|vnet.*|virbr[0-9]+-nic|[a-f0-9]{15})$ \
    --collector.netdev.device-exclude=^(br.*|cali.*|cni.*|docker.*|flannel.*|lo|nodelocaldns|tap.*|tunl.*|veth.*|vnet.*|virbr[0-9]+-nic|[a-f0-9]{15})$

[Install]
WantedBy=multi-user.target
